@font-face {
  font-family: "iconfont"; /* Project id 3278261 */
  src: url('iconfont.woff2?t=1648211806049') format('woff2'),
       url('iconfont.woff?t=1648211806049') format('woff'),
       url('iconfont.ttf?t=1648211806049') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye-01:before {
  content: "\e614";
}

.icon-wenjianjia-01:before {
  content: "\e615";
}

.icon-shanchu-01:before {
  content: "\e613";
}

.icon-tupian-01:before {
  content: "\e616";
}

.icon-xiazai-01:before {
  content: "\e617";
}

.icon-shezhi-01:before {
  content: "\e618";
}

.icon-xiaoxi-01-01:before {
  content: "\e619";
}

